@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  height: 100vh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-primary-50);
  overflow-x: hidden;
}

html {
  height: 100%;
  width: -webkit-fill-available;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: -webkit-fill-available;
}

.full-width {
  width: 100%;
}
